
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: Tanha;
    src: url('./assets/font/Tanha.eot');
    src: url('./assets/font/Tanha.woff2') format('embedded-opentype'),
         url('./assets/font/Tanha.woff') format('woff'),
         url('./assets/font/Tanha.ttf') format('truetype');
    font-weight: normal;
}
body{
   font-family: 'Tanha';
}
.bgImage{
    background-image: url("../src/assets/pic/b5.jpg");
    background-position: center;
    background-repeat: no-repeat;
  
background-size: contain;

background-size: auto;

background-size: cover;

}

@keyframes spin {
    from{
        transform:rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
    
}

.spin {
    animation: spin 40s linear infinite;
}